In [2]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [5]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [6]:
#  3. Convert the June temperatures to a list.
june_temp = []
june_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [7]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temp, columns=['date', 'temperature'])
june_df.set_index(june_df['date'], inplace=True)

In [8]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

       temperature
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [9]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [10]:
# 7. Convert the December temperatures to a list.
dec_temp = []
dec_temp = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [11]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temp, columns=['date', 'temperature'])
dec_df.set_index(dec_df['date'], inplace=True)

In [12]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       temperature
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [15]:
dec_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 12).all()
june_prcp = session.query(Measurement.date, Measurement.prcp).filter(extract('month', Measurement.date) == 6).all()

In [18]:
dec_p_df = pd.DataFrame(dec_prcp, columns=['date', 'precipitation'])
dec_p_df.set_index(dec_p_df['date'], inplace=True)
dec_p_df.describe()

       precipitation
count    1405.000000
mean        0.216819
std         0.541399
min         0.000000
25%         0.000000
50%         0.030000
75%         0.150000
max         6.420000

In [19]:
june_p_df = pd.DataFrame(june_prcp, columns=['date', 'precipitation'])
june_p_df.set_index(june_p_df['date'], inplace=True)
june_p_df.describe()

       precipitation
count    1574.000000
mean        0.136360
std         0.335731
min         0.000000
25%         0.000000
50%         0.020000
75%         0.120000
max         4.430000

In [27]:
print(session.query(Measurement.station, func.avg(Measurement.tobs)).filter(extract('month', Measurement.date) == 12).\
    group_by(Measurement.station).order_by(func.avg(Measurement.tobs).desc()).all())

session.query(Measurement.station, func.avg(Measurement.tobs)).filter(extract('month', Measurement.date) == 6).\
    group_by(Measurement.station).order_by(func.avg(Measurement.tobs).desc()).all()

[('USC00514830', 73.2247191011236), ('USC00519523', 72.43333333333334), ('USC00518838', 72.42105263157895), ('USC00517948', 71.8348623853211), ('USC00519397', 71.10952380952381), ('USC00513117', 71.06944444444444), ('USC00519281', 69.90322580645162), ('USC00511918', 69.6842105263158), ('USC00516128', 69.29126213592232)]

[('USC00519397', 77.55932203389831),
 ('USC00519523', 76.66810344827586),
 ('USC00517948', 76.6554054054054),
 ('USC00514830', 76.00537634408602),
 ('USC00511918', 74.13939393939394),
 ('USC00513117', 74.05084745762711),
 ('USC00518838', 73.39473684210526),
 ('USC00519281', 73.27118644067797),
 ('USC00516128', 71.9372197309417)]